version: '3'

services:

  proxy:
    image: jwilder/nginx-proxy:alpine
    container_name: nginx
    labels:
      - "com.github.jrcs.letsencrypt_nginx_proxy_companion.nginx_proxy=true"
    networks:
      nextcloud:
        ipv4_address: 10.5.0.2
    ports:
      - 80:80
      - 443:443
    volumes:
      - ./nginx:/etc/nginx/conf.d:rw
      - ./proxy/vhost.d:/etc/nginx/vhost.d:rw
      - ./proxy/html:/usr/share/nginx/html:rw
      - ./proxy/certs:/etc/nginx/certs:ro
      - /etc/localtime:/etc/localtime:ro
      - /var/run/docker.sock:/tmp/docker.sock:ro
    restart: unless-stopped

  letsencrypt:
    image: jrcs/letsencrypt-nginx-proxy-companion
    container_name: letsencrypt
    depends_on:
      - proxy
    networks:
      nextcloud:
        ipv4_address: 10.5.0.3
    environment:
      - NGINX_PROXY_CONTAINER=nginx
    volumes:
      - ./proxy/certs:/etc/nginx/certs:rw
      - ./proxy/vhost.d:/etc/nginx/vhost.d:rw
      - ./proxy/html:/usr/share/nginx/html:rw
      - /etc/localtime:/etc/localtime:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
    restart: unless-stopped

  db:
    image: postgres:13.1
    container_name: nextcloud_postgres
    restart: always
    environment:
      - POSTGRES_USER={{ postgres_root_user }}
      - POSTGRES_PASSWORD={{ postgres_root_pass }}          #comes from vault
      - POSTGRES_DB={{ postgres_db }}
      - APP_DB_USER={{ postgres_app_user }}
      - APP_DB_PASS={{ postgres_user_pass }}                #comes from vault
    volumes:
      - ./db:/docker-entrypoint-initdb.d/
      - /nextcloud/postgres:/var/lib/postgresql/data
    ports:
      - 5432:5432
    networks:
      nextcloud:
        ipv4_address: 10.5.0.4

  app:
    image: nextcloud
    container_name: nextcloud_app
    restart: always
    depends_on:
      - db
      - proxy
      - letsencrypt
    ports:
      - 8080:80
    links:
      - db
    volumes:
      - /nextcloud/data:/var/www/html
      - /nextcloud/config:/var/www/html/config
      - /nextcloud/apps:/var/www/html/custom_apps
      - ./php/config.php:/var/www/html/config/config.php
    environment:
      - POSTGRES_DB={{ postgres_db }}
      - POSTGRES_USER={{ postgres_app_user }}
      - POSTGRES_HOST={{ postgres_host }}
      - VIRTUAL_HOST={{ domain }}
      - LETSENCRYPT_HOST={{ domain }}
      - LETSENCRYPT_EMAIL={{ email }}
    networks:
      nextcloud:
        ipv4_address: 10.5.0.5

networks:
  nextcloud:
    driver: bridge
    ipam:
     config:
       - subnet: 10.5.0.0/16