Hostname "{{ inventory_hosname }}"
FQDNLookup true
BaseDir "/var/lib/collectd"
PluginDir "/usr/lib/collectd"
#TypesDB "/usr/share/collectd/types.db" "/etc/collectd/my_types.db"

AutoLoadPlugin false
CollectInternalStats false
Interval 10

LoadPlugin syslog

<Plugin syslog>
    LogLevel info
</Plugin>

LoadPlugin disk
LoadPlugin df
LoadPlugin interface
LoadPlugin network
LoadPlugin users
LoadPlugin cpu
LoadPlugin entropy
LoadPlugin load
LoadPlugin memory
LoadPlugin swap
LoadPlugin uptime
LoadPlugin processes
LoadPlugin sensors
LoadPlugin exec
LoadPlugin write_graphite

# where to send data
<Plugin "network">
    Server "{{ influxdb_server_ip }}" "25826"
</Plugin>

<Plugin cpu>
    ReportByCpu true
    ReportByState true
    ValuesPercentage false
</Plugin>

<Plugin memory>
    ValuesAbsolute true
    ValuesPercentage false
</Plugin>

<Plugin swap>
    ReportByDevice false
	ReportBytes true
	ValuesAbsolute true
	ValuesPercentage false
</Plugin>

<Plugin disk>
	Disk "sda"
	IgnoreSelected false
	UseBSDName false
	UdevNameAttr "SDA"
</Plugin>

#<Plugin df>
#	Device "/dev/sda1"
#	MountPoint "/home"
#	FSType "ext4"
#	IgnoreSelected false
#	ReportByDevice false
#	ReportReserved false
#	ReportInodes false
#	ValuesAbsolute true
#	ValuesPercentage false
#</Plugin>

<Plugin interface>
	Interface "eth0"
	IgnoreSelected false
</Plugin>

<Plugin load>
    ReportRelative true
</Plugin>