version: '3.8'

networks: 
  tooling:
    external: true
    driver: bridge

services:
  prometheus:
    image: {{ prometheus_image }}
    container_name: {{ prometheus_container_name }}
    networks:
      - {{ docker_network }}
    ports:
      - {{ prometheus_host_port }}:{{ prometheus_container_port }}
    volumes:
      - {{ tooling_direcotry }}/{{ monitoring_directories[2] }}:/etc/prometheus
      - {{ data_directories[4] }}:/prometheus
    restart: unless-stopped
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"

  grafana:
    image: {{ grafana_image }}
    container_name: {{ grafana_container_name }}
    ports:
      - {{ grafana_host_port }}:{{ grafana_container_port }}
    networks:
      - {{ docker_network }}
    volumes:
      - "{{ data_directories[6] }}:/var/lib/grafana:rw"
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.grafana.rule=Host(`grafana.{{ domain }}`)"
      - "traefik.http.routers.grafana.entrypoints=websecure"
      - "traefik.http.routers.grafana.tls.certresolver=production"