#!/bin/bash

sleep 60

echo "########### `date +"%d-%m-%Y"` ################" >> {{ samba_rsync_logfile }}
if grep -qs '{{ samba_shares_root_dir }} ' /proc/mounts; then
    if grep -qs '{{ backup_samba_shares_root_dir }} ' /proc/mounts; then
        
        echo "`date +"%T"` rsync started" >> {{ samba_rsync_logfile }}
        rsync  -az --delete --compress {{ samba_shares_root_dir }}/ {{ backup_samba_shares_root_dir }}/samba_shares_sync
        echo "`date +"%T"` rsync finished" >> {{ samba_rsync_logfile }}
    else
    echo "{{ backup_samba_shares_root_dir }} not mounted." >> {{ samba_rsync_logfile }}
    fi
else
    echo "{{ samba_shares_root_dir }} not mounted." >> {{ samba_rsync_logfile }}
fi
echo "#######################################" >> {{ samba_rsync_logfile }}
