#======================= Global Settings =======================
[global]
workgroup = WORKGROUP
server string = samba
netbios name = {{ inventory_hostname }}
security = user
encrypt passwords = yes
create mask = 0660
directory mask = 0770
#======================= Share Definitions =======================
[exchange]
path = {{ samba_shares_root_dir }}/exchange
comment = Exchange share
read only = no
browseable = yes
valid users = @"admins",@"przemek"
write list = @"admins",@"przemek"

[filmy]
path = {{ samba_shares_root_dir }}/filmy
comment = share for movies
read only = yes
browseable = yes
hide dot files = yes
valid users = @"admins",@"przemek"
write list = @"admins",@"przemek"

[foto]
path = {{ samba_shares_root_dir }}/foto
comment = shar efor fotos
read only = yes
browseable = yes
valid users = @"admins",@"przemek"
write list = @"admins",@"przemek"

[inne]
path = {{ samba_shares_root_dir }}/inne
comment = share for custom files
read only = yes
browseable = yes
valid users = @"admins",@"przemek"
write list = @"admins",@"przemek"

[mine]
path = {{ samba_shares_root_dir }}/mine
comment = personal space
read only = yes
browseable = yes
valid users = @"admins",@"przemek"
write list = @"admins",@"przemek"
#read list =

[other]
path = {{ backup_samba_shares_root_dir }}
comment = personal space
read only = yes
browseable = yes
valid users = @"admins",@"przemek"
write list = @"admins",@"przemek"
#read list =